@charset "UTF-8";

:root {
   --font01: "Poppins", sans-serif;
   --cor01: #fff3d088;
   --cor02: #FEFEDB;
   
   


}





*{
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}


body,html {

   height: 100vh;
   margin: 0px;
   padding: 0px;
   background-color:#fefedb88;
   
}

    header {
    background-image: url('imagens/img3.png');
    background-size: cover ;
    background-attachment: fixed;
    background-position: bottom right;
    height: 200px;

      
}

 header h1{
    color: rgba(255, 255, 255, 0.856);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
    margin: 0px;
    text-align: center;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 1.5em;
  
 }
 
 header p {
    color: rgba(255, 255, 255, 0.959);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.664);
    text-align: center;
    padding: 8px;
    padding-bottom: 50px;
    

 }

   menu {
      margin-top: 40px;
   }


    nav a{
    color: rgba(255, 255, 255, 0.856);
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    box-sizing: border-box;
   
 }

 nav a:hover {
   background-color:var(--cor01) ;
   border-radius: 20px;
   color:#FEFEDB ;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
   
   
  
   
 }
   

 section#normal {
   padding: 0px;
   background-image: url('imagens/img.jpg');
   background-attachment: fixed;
   background-size: cover;
   background-repeat:no-repeat;
   margin-bottom: 0px;
 
  
 }



h2 {
  
  color: rgba(0, 0, 0, 0.918);
   padding: 10px;
   text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.479);
}

 aside p {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: justify;
   text-indent: 10px;
   line-height: 25px;
   margin: 10px;
   padding: 10px;
   background-color: rgba(211, 211, 211, 0.37);
   border-radius:10px ;
   box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.507);
 }

 aside#transparente p {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: justify;
   text-indent: 10px;
   line-height: 25px;
   margin: 10px;
   padding: 10px;
   background-color: rgba(255, 251, 251, 0.144);
   border-radius: 0px 20px ;
   box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.658);
 }
 
 section#fundo01 {
   background: url('imagens/imagem.jpg') no-repeat fixed;
   background-size: cover;
   background-position: relative;
 
   
 
 }
 
     


